META_ACCESS_TOKEN=
META_TOKEN_ENCRYPTION_KEY=
INSTAGRAM_USER_ID=
EXPECTED_INSTAGRAM_USERNAME=
PUBLIC_ASSET_BASE_URL=https://catzrecord.github.io/arga-tirta-social-100d
META_GRAPH_VERSION=v25.0
META_GRAPH_HOST=graph.instagram.com

# Threads scheduled publisher
THREADS_ACCESS_TOKEN=
THREADS_GRAPH_BASE=https://graph.threads.net
THREADS_EXPECTED_USERNAME=cv.argatirta
